<style>
  .list-group {
    margin-bottom: 10px;
  }
  .list-group-item {
    padding: 0;
    margin-bottom: 1px;
  }

  .form-group {
    margin-bottom: 10px;
  }

</style>
<div class="container">
  <div class="row mb-3">
    <div class="col-6 col-md-4 themed-grid-col">
      <% if flash.any? %>
        <% flash.each do |name, message| %>
          <%= content_tag :div, message, class: "alert alert-success" %>
        <% end %>
      <% end %>
    <h1 class="h3 mb-3 fw-normal">Edit profile</h1>

    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <ul class="list-group">
          <% for message in @user.errors.full_messages %>
            <li class="list-group-item list-group-item-danger"><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group">
        <%= f.text_field :email, class: 'form-control', placeholder: "Enter email" %>
      </div>

      <div class="form-group">
        <%= f.text_field :username, class: 'form-control', placeholder: "Username" %>
      </div>

      <div class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
      </div>

      <div class="form-group">
        <%= f.text_field :avatar_url, class: 'form-control', placeholder: "Avatar URL" %>
      </div>

      <p>Leave password blank or fill</p>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password confirmation" %>
      </div>

      <%= f.submit 'Submit', class: 'w-100 btn btn-lg btn-primary' %>
    <% end %>
    </div>
      <div class="col-md-8 themed-grid-col"></div>
  </div>
</div>

