<div class="container">
  <div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <h1 class="title-medium">
        <%= @user.name %>
      </h1>
      <div class="user-image-div">
        <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
      </div>
      <h2 class="title-small buffer-both">
        @<%= @user.username %>
      </h2>

      <div class="form-floating">
        <%= form_for @new_question do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.text_area :text, class: 'form-control', id: 'floatingInput', placeholder:'Your question' %>
          <%= submit_tag 'Ask Question', class: 'btn btn-primary btn-border' %>
        <% end %>
      </div>

    </div>
    <div class="col-6 col-md-4 themed-grid-col">

      <div class="questions-list">
        <h3>Last Questions:</h3>
        <% @questions.each do |question| %>
          <%= render partial: 'questions/question', object: question %>
        <% end %>
      </div>

    </div>

  <!--  <div class="buffer-both">-->
  <%#= link_to 'Редактировать профиль', edit_user_path(@user) if current_user == @user %>
  <!--  </div>-->

    </div>


</div>

