<style>
  @media (max-width: 992px) {
    .col-6 {
      width: 100%;
    }
  }
</style>
<div class="container">
  <div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <p class="title-small">Questions: <%= @questions_count %>
        | Answers: <%= @answers_count %>
        | Unanswered: <%= @unanswered_count %></p>
        <%= link_to 'Edit Profile', edit_user_path(@user), type: "button", class:"btn btn-outline-primary me-2 btn-sm", :method => "get" if current_user == @user  %>

      <h1 class="title-medium">
        <%= @user.name %>
      </h1>
      <div class="user-image-div">
        <%= image_tag user_avatar(@user), class: 'user-image', alt: '[Фото]' %>
      </div>
      <h3 class="title-small buffer-both">
        @<%= @user.username %>
      </h3>

      <div class="form-floating">
        <%= form_for @new_question do |f| %>
          <%= f.hidden_field :user_id %>
          <%= f.text_area :text, class: 'form-control', id: 'floatingInput', placeholder:'Your question' %>
          <%= submit_tag 'Ask Question', class: 'btn btn-primary btn-border' %>
        <% end %>
      </div>
      <% if flash.any? %>
        <% flash.each do |name, message| %>
          <%= content_tag :div, message, class: "alert alert-success" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-6 col-md-4 themed-grid-col">
        <h4>Last Questions:</h4>
        <% @questions.last(3).each do |question| %>
          <%= render partial: 'questions/question', object: question %>
        <% end %>
      <div class="text-center">
        <%= link_to 'All questions', user_questions_path(@user.id)  %>
      </div>
    </div>
  </div>
    </div>
</div>

